*{
  color:#78a8ec;
  background-color: #111a2c; 
}

.data-table{
margin: 3%;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.5 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: px;
/* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.table-parent {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  width: 100vw; */
}

.table-header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  width: 95vw;
  height: 90vh;
  border-radius: 0 !important;
}

.two-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
